@import "~bootstrap/scss/bootstrap";

.container-fluid{
    overflow: hidden;
    word-wrap: break-word;
    }

.navbar {
    min-height: 43px;
    font-size: 25px;
    background-color:#0918e2;
    color: white;
}

.github-icon {
    margin-left: 20px;
}

.project-menu {
    background-color:#FAFAFA;
    min-height:710px;
}

.add-list {
    padding-top: 10px;
    &:hover {
        cursor: pointer;
      }
}

.todo-project {
    &:hover {
        background-color: rgba(114, 110, 110, 0.2);
        cursor: pointer;
      }
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
}

.btn-danger {
    margin-left: 10px;
}

.bi {
    padding-right: 5px;
}
#add-list-btn {
    @extend .add-list;
}

#submit-list-input {
    margin-top: 20px;
}


.todo-list-name {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

#add-todo-btn {
    @extend .add-list;
    display: none;
}

.todo {
    @extend .todo-project;
    padding-top: 2px;
    font-size: 22px;
}

.centered {
    text-align: center;
}

#add-project {
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 20px;
    left: 30%;
    right: 30%;
    top: 20%;
    background-color: rgba(114, 110, 110, 0.6)
}

#add-todo {
    @extend #add-project;
    width: 400px;
    height: 400px;
}

.input-title {
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.todo-info-name {
    @extend .todo-list-name;
    text-decoration: none;
    font-style: italic;
}

.todo-item-info {
    font-size: 20px;
    margin-top: 10px;
    font-style:oblique;
}

.new-todo-input {
    margin-top: 15px;
}

label {
    font-weight: bold;
}

.delete-todo-btn {
    margin-left: 15px;
}

.project-todos-info {
    background-color: rgba(165, 165, 165, 0.1);
}

#clear-storage {
    margin-left: 90px;
}

.edit-todo-btn {
    margin-left: 15px;
}

.bi-caret-right-fill {
    cursor: default;
}