@import "~bootstrap/scss/bootstrap";

.container-fluid{
    overflow: hidden;
    }

.navbar {
    min-height: 43px;
    background-color:#db4c3f;
    color: white;
}

.project-menu {
    background-color:#FAFAFA;
    min-height:710px;
}

.add-list {
    padding-top: 10px;
    &:hover {
        cursor: pointer;
      }
}

.todo-project {
    &:hover {
        background-color: rgba(114, 110, 110, 0.2);
        cursor: pointer;
      }
}

#add-list-btn {
    @extend .add-list;
}

.todo-list-name {
    font-size: 30px;
    font-weight: bold;
}

#add-todo-btn {
    @extend .add-list;
    display: none;
}

.todo {
    @extend .todo-project;
}

#add-project {
    display: none;
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    right: 350px;
    border-radius: 20px;
}


#add-todo {
    @extend #add-project;
}
